.addPost {
    padding: 20px;
}

.addPost .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);

}

.addPost .container .postinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addPost .container .postinfo .addPostProfilePic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.addPost .container .postinfo .addPostInput {
    flex: 5;
    padding: 20px;
    background-color: white;
    color: black;
    border: none;
}
.addPost .container .postinfo .addPostInput:focus{
    outline: none;
}

.addPost .container .postImages {
    border-top: 1px solid lightgray;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.uploadPostImgBtn{
    font-size: 10px;
    padding: 6px;
    border: 2px solid #938eef;
    border-radius: 8px;
    background-color: #ffffff;
    color: #2d2b57 ;
    font-weight: bold ;
    cursor: pointer;
}


.addPost .container .postImages .addPostImage {}

.addPost .container .postImages .addPostBtn {
    border: none;
    background-color: #5271ff;
    color: white;
    padding: 7px;
    cursor: pointer;
    border-radius: 3px;
}